{% extends 'master/base.html' %}
{% load static %}
{% block content %}
<h2 class="mb-4">Featured Products</h2>
<div class="row">
  {% for product in products %}
    <div class="col-md-4 mb-3">
      <div class="card">
        {% if product.product_image %}
        <a href="{% url 'product_detail' product.pk %}">
          <img 
            src="{{ product.product_image.url }}"
            class="card-img-top"
            alt="{{ product.name }}"
          />
        </a>
        {% else %}
        <img 
          src="{% static 'images/default.jpg' %}"
          class="card-img-top"
          alt="No image available"
        />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Rs. {{ product.price }}</p>
          <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<h2 class="mt-5 mb-4">Latest Blogs</h2>
<div class="list-group">
  {% for blog in blogs %}
    {% if blog.blog_image %}
        <a href="{% url 'blog_detail' blog.pk %}">
          <img 
            src="{{ blog.blog_image.url }}"
            class="card-img-top"
            alt="{{ blog.title }}"
          />
        </a>
        {% else %}
        <img 
          src="{% static 'images/default.jpg' %}"
          class="card-img-top"
          alt="No image available"
        />
        {% endif %}
    <a href="{% url 'blog_detail' blog.pk %}" class="list-group-item list-group-item-action">
      {{ blog.title }}
    </a>
  {% endfor %}
</div>
{% endblock %}
