[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django-jazzmin = "*"
django = "*"
psycopg2-binary = "*"
dj-database-url = "*"
python-decouple = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.13"
